/*general rules*/
body
{
    font-family: 'Raleway', sans-serif;
    margin: 0;
}
a
{
    text-decoration: none;
    color: unset;
}
main
{
    padding: 0 4%;
}
/*header */
header
{
    display: flex;
    justify-content: space-between;
    padding: 0 4%;
}

header img
{
    width: 100px;
    padding-top: 30px;
}

nav ul
{
    display: flex;
    list-style: none;
    margin-top: 0;
    padding:0;
}

nav li
{
    font-size: 1.1em;
    padding: 40px 0px;
    width: 160px;
    display: flex;
}
nav a
{
    margin:auto;
}

nav li:hover, nav li:hover
{
    border-top: 3px solid #0065FC;
    color: #0065FC;
}

.register
{
    color: #0065FC;
    font-weight: bold;
}

/* search by location section*/

.search_section p
{
    margin-top: 0;
    font-size: 1.075em;
}

h1
{
    margin-bottom: 10px;
}

.search_section form
{
    display: flex;
}

.fa-map-marker-alt
{
    font-size: 1.2em;
    padding: 18px;
    border-radius: 15px 0 0 15px;
    background-color: #F2F2F2;
}

.search_section input
{
    padding-left: 15px;
    border:#F2F2F2 solid 2px;
    border-right: none;
    font-size: 1.2em;
    font-weight: bold;
    color: black;
}

::placeholder
{
    color: black;
}

button
{
    background-color: #0065FC;
    padding: 0 23px;
    border-radius: 0 15px 15px 0;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    border-color: transparent;
}

.search_icon_button
{
    display: none;
}

button:hover
{
    cursor: pointer;
}

/*filters section*/
.filters_bloc
{
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.filters_bloc h2
{
    font-size: 1.2em;
}

.filters_bloc ul
{
    display: flex;
    list-style-type: none;
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 20px;
}

.filters_bloc li
{
    padding-left: 20px;
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.filters_bloc a
{
    border-top: #F2F2F2 solid 3px;
    border-right: #F2F2F2 solid 3px;
    border-bottom: #F2F2F2 solid 3px;
    border-radius: 0 50px 50px 0;
    padding:10px 15px 10px 30px;
}

.filters_bloc a:hover
{
    color: #0065FC;
    border-top: #DEEBFF solid 3px;
    border-right: #DEEBFF solid 3px;
    border-bottom: #DEEBFF solid 3px;
    border-radius: 0 50px 50px 0;
    padding:10px 15px 10px 30px;
}

.filters_bloc i
{
    color: #0065FC;
    border-radius: 50px;
    background-color: #DEEBFF;
}

.fa-heart, .fa-dog
{
    padding: 15px;
    margin-right: -17px;
}

.fa-money-bill-wave
{
    padding: 15px 13px;
    margin-right: -17px;
}

.fa-child
{
    padding: 15px 17px;
    margin-right: -17px;
}

.fa-info
{
    color:#0065FC;
    border: #F2F2F2 2px solid;
    border-radius: 50px;
    padding: 4px 8px;
    font-size: 0.8em;
    margin-right: 10px;
}
.filters_bloc + p
{
    margin-bottom: 40px;
}
/*Accommodations'section*/

.fa-star
{
    color: #0065FC;
    font-size: 0.9em;
}

.grey_star
{
    color: #F2F2F2;
}

.accommodations_section
{
    display: flex;
    justify-content: space-between;
}

/*Accommodations in Marseille*/
.accommodations_Marseille
{
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 20px 10px 20px 40px;
}

.accommodation_Marseille_card img
{
    width: 240px;
    height: 115px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}
.accommodation_Marseille_cards_bloc
{
    display: flex;
}

.accommodation_Marseille_card
{
    background-color:white;
    border-radius: 15px;
    margin: 10px 30px 20px 0;
    padding:5px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.05);
}
.accommodation_Marseille_card:hover
{
    transform: scale(1.05);
}

.accommodation_Marseille_card h3, .accommodation_Marseille_card p
{
    margin: 3px 0 3px 10px;
}

.accommodation_Marseille_card i
{
    font-size: 0.9em;
}

.accommodations_Marseille p a
{
    font-weight: bold;
}

.accommodations_Marseille p a:hover
{
color: #0065FC;
}

/*Most popular accommodations*/

aside
{
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 20px 40px;
    white-space: nowrap;
}

.most_popular_title
{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.most_popular_title i
{
    font-size: 1.6em;
}

.most_popular_card
{
    background-color: white;
    display: flex;
    border-radius:15px;
    padding: 5px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.05);
}

.most_popular_card:hover
{
    transform: scale(1.05);
}

.most_popular_card img
{
    width: 125px;
    height: 135px;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
    
}
.most_popular_card_margin
{
    margin: 15px 0 15px 0;
}

aside h3
{
    margin: 15px 50px 5px 20px;
}

.price_paragraph
{
    margin: 0 0 0px 20px;
    
}

.rating_paragraph
{
    margin: 30px 0 10px 20px;
    
    font-size: 0.9em;
}

/*activities' section*/

#activities_anchor
{
    padding-top: 30px;
}

.activities_cards_bloc
{
    display: flex;
    justify-content: space-between;
}
.activities_small_cards_bloc
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activity_card
{
    box-shadow: 6px 6px 6px #f2f2f2;
    border-radius: 20px;
    height: fit-content;
}

.activity_card:hover
{
    transform: scale(1.05);
}


.activities_cards_bloc img
{
border-radius: 20px 20px 0 0;
width: 315px;
object-fit: cover;
}

.tall_height img
{
height: 390px;
}

.activity_card h3
{
margin: 20px 0 0px 20px;
padding-bottom: 20px;
}

.Pomegues_height img
{
    height: 180px;
}

.Frioul_height img
{
    height: 110px;
}

.Notre-Dame_height img
{
    height: 140px;
}

.Parc_Longchamp_height img
{
    height: 150px;
}

/*footer*/
footer
{
display: flex;
justify-content: space-between;
background-color: #F2F2F2;
margin-top: 60px;
padding: 15px 4% 30px 4%;
}

footer div
{
    width: 33%;
    padding-top: 15px;
}

footer a:hover
{
color: #0065FC;
}

/*media queries for tablets*/

@media screen and (max-width: 768px) 
{   
    


}


/*media queries for smartphone*/

@media screen and (max-width: 480px)
{
    /*general rules*/
    main
    {
        padding: 0;
    }

    html, body 
    {
        overflow-x: hidden;
    }

    /*header*/

    header
    {   
        flex-direction: column;
        padding: 0;
    }
    
    nav ul 
    {
        flex-wrap:wrap-reverse;
        justify-content: flex-end;
        position: relative;
    }
    .register a
        {
            position: relative;
            bottom: 35px;
            left: 30px;
        }

    nav li 
    {
        padding-top: 0;
        padding-bottom: 10px;
        width: 50%;
    }
    nav a 
    {
        margin: auto;
    }

    

    header img 
    {
        padding-left: 20px;
    }

    nav li:hover
    {
        border-top: none;
    }

    .accommodations_link:hover, .activities_link:hover
    {
        border-bottom-color: #0065FC;
    }

    .accommodations_link, .activities_link
    {
        border-bottom: #F2F2F2 3px solid;
    }
    
    
    /*search section*/
    
    .search_section
    {
        margin: 0 20px;;
    }

    .search_text_button
    {
        display: none;
    }
    .search_icon_button
    {
        display: unset;
        border-radius: 15px;
        padding: 0 15px;
        margin-left: -10px;
    }
    form 
    {
        margin-top: 40px;
    }
    input 
    {
        padding-right: 6px;
    }
    /*filters section*/

    .filters_bloc
    {   
        margin: 0 20px;
        flex-direction: column;
        align-items: flex-start;
    }

    .filters_bloc ul
    {
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
    }

    .filters_bloc h2 
    {
        margin-bottom: 5px;
        margin-top: 30px;
    }

    .filters_bloc li
    {
        padding: 0;
        margin: 5px 5px 5px 0px;
        font-size: 0.9em;
    }

    .filters_bloc +p 
    {
        margin: 30px 20px;
    }

    .fa-info 
    {
        float: left;
    }

    /* accomodations section */

    .accommodations_section
    {
        flex-direction: column-reverse;
    }

    /* most popular*/

    aside 
    {
        padding: 20px;
        font-size:0.9em;
        border-radius: 0px;
    }

    aside h3
    {
        margin-right: 30px;
    }

    /*accommodations in Marseille*/

    .accommodations_Marseille
    {   
        background: unset;
        padding:0;
        margin: 20px;
        font-size: 0.9em;
    }

    .accommodation_Marseille_cards_bloc

    {
        flex-direction: column;
    }

    .accommodation_Marseille_card
    {
        margin: 5px 0px;

    }

    .accommodation_Marseille_card img
    {
        width: 100%;
    }

    .accommodations_Marseille div + p 
    {
        font-size: 1.3em;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    /* activities section*/

    #activities_anchor
    {
        padding:0;
        margin-right: 20px;
        margin-left:20px;
    }
    .activities_cards_bloc
    {
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
        width: 335px;
    }

    .activities_cards_bloc img
    {
        height: 135px;
        width: 335px;
    }
    .activity_card
    {
        width: 100%;
        margin-bottom: 20px;
    }
    
    
    /*footer*/

    footer
    {
        flex-direction: column;
        padding:30px 20px ;
    }

    footer div

    {
        width: auto;
    }


}