/*general rules*/
body
{
    font-family: 'Raleway', sans-serif;
    margin: 0 4% 0 4%;
}
a
{
    text-decoration: none;
    color: black;
}


/*header */
header
{
    display: flex;
    justify-content: space-between;
}

header img
{
    width: 100px;
    padding-top: 30px;
}

nav
{
    display:flex;
}

nav ul
{
    display: flex;
    list-style: none;
    margin-top: 0;
}

nav li
{
    font-size: 1.1em;
    margin-left: 50px;
    padding: 40px 10px 0px 10px;
}

nav li:nth-child(1):hover, nav li:nth-child(2):hover
{
    border-top: 3px solid #0065FC;
}

nav a:hover
{
    color: #0065FC;
}
.register
{
    color: #0065FC;
    font-weight: bold;
}

/* search by location section*/

.search_section p
{
    margin-top: 0;
    font-size: 1.075em;
}

h1
{
    margin-bottom: 10px;
}

.search_section form
{
    display: flex;
}

.fa-map-marker-alt
{
    font-size: 1.2em;
    padding: 15px;
    border:#F2F2F2 solid 3px;
    border-radius: 15px 0 0 15px;
    background-color: #F2F2F2;
}

.search_section input
{
    padding-left: 15px;
    border:#F2F2F2 solid 3px;
    font-size: 1.2em;
    font-weight: bold;
    color: black;
}

::placeholder
{
    color: black;
}

.search_text_button
{
    
    background-color: #0065FC;
    padding: 0 20px 0 20px;
    border:#0065FC solid 3px;
    border-radius: 0 15px 15px 0;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}

.search_icon_button
{
    display: none;
}

/*filters section*/
.filters_bloc
{
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.filters_bloc h2
{
    font-size: 1.2em;
}

.filters_bloc ul
{
    display: flex;
    list-style-type: none;
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 20px;
}

.filters_bloc li
{
    padding-left: 20px;
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.filters_bloc a
{
    border-top: #F2F2F2 solid 3px;
    border-right: #F2F2F2 solid 3px;
    border-bottom: #F2F2F2 solid 3px;
    border-radius: 0 50px 50px 0;
    padding:10px 15px 10px 30px;
}

.filters_bloc a:hover
{
    color: #0065FC;
    border-top: #DEEBFF solid 3px;
    border-right: #DEEBFF solid 3px;
    border-bottom: #DEEBFF solid 3px;
    border-radius: 0 50px 50px 0;
    padding:10px 15px 10px 30px;
}

.filters_bloc i
{
    color: #0065FC;
    border: #DEEBFF solid 3px;
    border-radius: 50px;
    background-color: #DEEBFF;
}

.fa-heart, .fa-dog, .fa-money-bill-wave
{
    padding: 12px;
    margin-right: -17px;
}

.fa-money-bill-wave
{
    padding: 12px 10px;
    margin-right: -17px;
}

.fa-child
{
    padding: 12px 14px;
    margin-right: -17px;
}

.fa-info
{
    color:#0065FC;
    border: #F2F2F2 2px solid;
    border-radius: 50px;
    padding: 4px 8px;
    font-size: 0.8em;
    margin-right: 10px;
}
.filters_bloc + p
{
    margin-bottom: 40px;
}
/*accommodations'section*/

.fa-star
{
    color: #0065FC;
    font-size: 0.9em;
}

.grey_star
{
    color: #F2F2F2;
}

.accommodations_section
{
    display: flex;
    justify-content: space-between;
}
/*Accommodations in Marseille*/
article
{
    background-color: #F2F2F2;
    border: #F2F2F2 solid 1px;
    border-radius: 20px;
    padding: 20px 10px 20px 40px;
}

.accommodation_card img
{
    width: 240px;
    height: 115px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}
.accommodation_cards_bloc
{
    display: flex;
}

.accommodation_card
{
    background-color: white;
    border: white solid 5px;
    border-radius: 15px;
    margin: 10px 30px 20px 0;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.05);
}
.accommodation_card:hover
{
    transform: scale(1.05);
}

.accommodation_card h3, .accommodation_card p
{
    margin: 3px 0 3px 10px;
}

.accommodation_card i
{
    font-size: 0.9em;
}

article p a
{
    font-weight: bold;
}

article p a:hover

{
color: #0065FC;
}

/*Most popular accommodations*/

aside
{
    background-color: #F2F2F2;
    border: #F2F2F2 solid 1px;
    border-radius: 20px;
    padding: 20px 40px;
    white-space: nowrap;
}

.most_popular_title
{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.most_popular_title i
{
    font-size: 1.6em;
}

.most_popular_card
{
    background-color: white;
    display: flex;
    border: white solid 5px;
    border-radius:15px ;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.05);
}

.most_popular_card:hover
{
    transform: scale(1.05);
}

.most_popular_card img
{
    width: 125px;
    height: 135px;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
    
}
.most_popular_card_margin
{
    margin: 15px 0 15px 0;
}

aside h3
{
    margin: 15px 50px 5px 20px;
}

.price_paragraph
{
    margin: 0 0 0px 20px;
    
}

.rating_paragraph
{
    margin: 30px 0 10px 20px;
    
    font-size: 0.9em;
}


